.background {
  background: url("image/foto7.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 25%;
  color: #fff;
}

.background1 {
  background: url("image/foto6.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 25%;
  color: #fff;
}

.background2 {
  background: url("image/mengajar.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 25%;
  color: #fff;
}

.foto {
  background: url("image/foto6.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 25%;
  color: #fff;
}

.bg {
  background: url("image/foto9.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 25%;
  color: #fff;
}

.saya {
  background: url("image/foto7.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 25%;
  color: #fff;
}

.tarkom {
  background: url("image/foto1.JPG") no-repeat center center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 25%;
  color: #fff;
}

.khitobah {
  background: url("image/kegiatan1.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 25%;
  color: #fff;
}

.praktek-mengajar {
  background: url("image/mengajar.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 25%;
  color: #fff;
}

.crop-img {
  object-fit: cover;
}

.about image {
  width: 200px;
  border-radius: 10px;
}

.tim img {
  width: 200px;
  border: 5px solid #cccc;
}

a.social {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  background-color: #198754;
  line-height: 35px;
}

.client img {
  height: auto;
  max-height: 50px;
}



/* .kontak {
  background: url("https://wallpaperaccess.com/full/1867010.jpg") no-repeat center center;
  background-size: cover;
  padding-bottom: 20%;
  padding-top: 20%;
  color: #fff;
} */

/* .container1 {
  display: flex;
  align-items: flex-start;
}

.pendaftaran {
  flex: 1;
  margin-right: 50px;
}

.paragraph {
  flex: 1;
} */

/* .nav-item {
    transition: text-decoration 0.3s ease; 
} */

/* .button {
    background-color: blue;
    color: #fff;
} */

/* .footer {
    padding: full;
    background-color: #fff;
    text-align: center;
} */

/* .kontak {
  background-color: rgb(255, 196, 0);
  background-size: cover;
  padding-bottom: 20%;
  padding-top: 20%;
  color: #fff;
} */
